*{
    margin: 0px;
    padding: 0px;
    color:white;
}
#box{
    width:100%;
    min-height:100vh;
    display:flex;

}
#background{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    background-image:url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
    background-repeat:no-repeat;
    z-index:-3;
    background-size:cover;
    filter:blur(3.5px);
    
}
#container{
    width: 35%;
    min-height:20vh;
    background-color:rgb(24 22 24 / 100%);
    margin:5px 150px;
    padding:20px;
    border-radius:25px;
    font-family:arial;
    
    
}
input{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    width: 100%;
    padding:24px 20px;
    outline:none;
    color:white;

}
button{
    background-color:transparent;
    border:0px;
    padding: 0px 20px 5px;
    
}
::placeholder{
    color:white;
}
#information{
    display:flex;
    justify-content:center;
    flex-direction:column;
    
}
#information img{
    width:60%;
    border-radius:50%;
    padding:0px 88px;
    
}
#weatherbox{
    margin:20px;
}
#temp{
    font-size:50px;
    text-align: center;
    font-family:arial;
}
#next5{
    padding:0px 18px;
    font-size:20px;
    font-family:arial;
    
}

#container2{
    background-color:rgb(197 195 198 / 40%);
    backdrop-filter:blur(6px);
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    padding:20px;
    font-family:arial;
   
    
}
#container3{
    background-color:rgb(70 73 76 / 40%);
    backdrop-filter:blur(6px);
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
     padding:20px;
    font-family:arial;
}
#container4{
    background-color:rgb(76 92 104 / 40%);
    backdrop-filter:blur(6px);
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
     padding:20px;
    font-family:arial;
}
#container5{
    background-color:rgb(17 95 115 / 40%);
    backdrop-filter:blur(6px);
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
     padding:20px;
    font-family:arial;
    
}
#day{
    font-size:30px;
}
#city{
    font-size:50px;
    text-align: center;
}
.search{
    display:flex;
    background-color:#585b5e;
    border-radius:20px;
    
}
.error{
    color:rgb(7 120 255 / 50%);
    font-size:24px;
    text-align: left;
    margin-top: 5px;
    padding:0px 10px;
    display:none;
    font-family:arial;


}
#temp2{
    font-size:30px;
    font-family:arial;
}
#temp3{
    font-size:30px;
    font-family:arial;
}
#temp4{
    font-size:30px;
    font-family:arial;
}
#temp5{
    font-size:30px;
    font-family:arial;
}
